/* Add CSS Styling */
.odd{
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#even-two{
    color: blue;
    font-size: 36px;
}
#even-four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
#odd-three{
    font-size: 24px;
}